<div>
<div id ="mydiv">
    <label id="heading" style="font-size:32px;">Profile Mapping</label>
    <div style="padding:10px;"><button class="btn btn-primary align-right" (click)="nodeContainer.saveNodeJson()">Save Mapping</button></div>
 
   
  </div>
  <div padding ="100" class="container">
    
    <div style="background-color:white; color:black; padding:50px;" class="panel-one">
        <app-mapping-node padding="400" #nodeContainer (mappingJson) = "getSavedJson($event)" [nodes]="srcNodes" [connections]="connections"></app-mapping-node>
    </div>
    <div class="vl"></div>
    <div style="background-color:white; color:black; padding:50px;" class="panel-two">
        <app-mapping-node padding="400"  [nodes]="dstNodes"></app-mapping-node>
    </div>
  </div>
</div>